<!DOCTYPE html>
<html lang="en" ng-app="storePathApp">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Welcome to Store Path!</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/style.css">

  <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  <script src="js/app.js"></script>

  <!-- Font Awesome
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body ng-controller="MainCtrl">

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <header>
    <div class="container">
      <div class="row">
        <div class="twelve columns">
          <form ng-submit="addItem($event, item)">
            <input ng-model="item.name" type="text" placeholder="Add a new item">
          </form>
        </div><!--twelve-->
      </div><!--row-->
    </div><!--container-->
  </header>

  <section class="shopping-table">
    <div class="container">
      <div class="row">
        <div class="twelve columns">
          <p ng-if="items.length === 0">No items yet</p>
          <table ng-if="items.length > 0" id="itemTable" class="tablesorter">
            <thead>
              <tr>
                <th>
                  Item
                </th>
                <th>
                  Category
                </th>
                <th>
                  Location
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in items">
                <td>
                  <span class="item-name">{{ item.name }}</a>
                </td>
                <td>
                  <span class="hidden">Condiments</span>
                  <input type="text" value="Condiments">
                </td>
                <td>
                  <span>Aisle 5</span>
                  <i class="fa fa-times" ng-click="removeItem($event, $index)"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div><!--twelve-->
      </div><!--row-->
    </div><!--container-->
  </section>

  <footer>
    &copy; Copyright {{ today | date:'yyyy' }} Store Path
  </footer>

</body>
</html>
